.popup {
    display: flex;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, .5);
    position: fixed;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.3s, opacity 0.3s linear;
}

.popup.popup_is-opened {
    display: flex;
    visibility: visible;
    opacity: 1;
}
