.page {
    background-color: #000;
    font-family: "Inter", Arial, sans-serif;
    max-width: 880px;
    min-height: 100vh;
    display: flex;
    margin: 0 auto 0;
    flex-direction: column;
}

@media screen and (max-width: 1024px){
    .page {
        max-width: 581px;
    }
}

@media screen and (max-width: 600px){
    .page {
        width: 100%;
    }
}
