.profile {
    width: 100%;
    margin: 40px auto 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .profile {
        margin: 42px auto 0;
        flex-direction: column;
    }
}
