.popup__button-close {
    background: url(../../../images/popup_buttom_close.svg);
    background-repeat: no-repeat;
    background-size : contain;
    height: 32px;
    width: 32px;
    border: 0;
    position: absolute;
    top: -38px;
    right: -40px;
    cursor: pointer;
    transition: opacity .5s;
}

.popup__button-close:hover {
    opacity: 0.6;
}

@media screen and (max-width: 360px){
    .popup__button-close {
        width: 20px;
        height: 20px;
        top: -38px;
        right: 0;
    }
}
