.popup__form {
    display: flex;
    flex-direction: column;
    border: 0;
    width: 358px;
    margin: 54px auto 37px;
    padding: 0;
}

@media screen and (max-width: 700px){
    .popup__form {
        width: 238px;
        height: 100%;
        margin: 75px auto 0;
    }
}
