.element__button-like {
    background: url(../../../images/element__like.svg);
    background-position: center;
    background-repeat: no-repeat;
    border: 0;
    width: 22px;
    height: 19px;
    cursor: pointer;
    transition: opacity .2s;
}

.element__button-like:hover {
    opacity: 0.5;
}

.element__button-like:active {
    background: url(../../../images/element__like_active.svg);
    opacity: 1;
}
